<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="KeyboardType" value="0" />
    <add key="KeyboardLocation" value="0" />
    <add key="KeyboardSize" value="1" />
    <add key="KeyboardAutomatic" value="True" />
    <add key="KeyboardDisplayButton" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>